@mixin bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    cursor: move;

    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

@mixin btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;

    background: #FFFFFF;
    border: 1px solid #E2E3E5;
    border-radius: 6px;
}


.constructor{
    width: 240px;
    height: 448px;
    margin-top: 68px;
    gap: 12px;
    display: flex;
    flex-direction: column;

    .displayBar {
        @include bar;
        top: 0;
        height: 60px;

        .display {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 11px 8px 5px 8px;
            width: 232px;
            height: 52px;
            color: #111827;

            font-weight: 800;
            font-size: 36px;

            background: #F3F4F6;
            border-radius: 6px;
        }
    }

    .operatorsBar {
        @include bar;
        top: 72px;
        height: 56px;

        .operators {
            width: 232px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                @include btn;
                width: 52px;
            }
        }
    }

    .numbersBar {
        @include bar;
        top: 140px;
        height: 224px;

        .numbers {
            width: 232px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            div {
                @include btn;
                width: 72px;
                margin-bottom: 8px;
            }
            #zero {
                width: 152px;
                margin: 0;
            }
            #sign {
                margin: 0;
            }
        }
    }

    .equalsBar {
        @include bar;
        top: 376px;
        height: 72px;

        .equals {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 232px;
            height: 64px;

            text-align: center;
            color: #FFFFFF;

            background: #5D5FEF;
            border-radius: 6px;
        }
    }
}
